<launch>
  <arg name="qbo_address" default="sigproc-robot1" />
  <arg name="qbo_user" default="qbo" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qbo_rgbd_slam)/launch/graph_slam.rviz" />

  <group>
    <machine name="qbo" address="$(arg qbo_address)" user="$(arg qbo_user)" default="true"
      env-loader="ROS_HOSTNAME=$(arg qbo_address) ~/cued-masters/devel/env.sh" />

    <!-- Start the openni driver -->
    <include file="$(find openni2_launch)/launch/openni2.launch">
      <arg name="depth_registration" value="true" />
    </include>


    <!-- Start the mapping nodes -->
    <include file="$(find qbo_rgbd_slam)/launch/include/mapping_real_time.launch"/>

    <!-- Start Q.bo drivers -->
    <node name="qbo_arduqbo" pkg="qbo_arduqbo" type="qbo_arduqbo" output="screen" respawn="true">
      <rosparam file="$(find qbo_rgbd_slam)/launch/include/qbo_driver_settings_graphSLAM.yaml" command="load" />
    </node>
    
    <!-- Add in head joint odometry -->
    <node name="joint_odometry" pkg="qbo_joint_odom" type="qbo_joint_odom.py" />

    <!-- Add corrected pose tf publisher -->
    <node name="correction_pub" pkg="qbo_rgbd_slam" type="qbo_corrected_pose_publisher" />

    <!-- Transform between base_footprint and the head --> 
    <node name="link" pkg="tf" type="static_transform_publisher" args="0.06 0 0.02 0 0 0 base_footprint base_link 100" />

    <!-- Our camera is slightly on the skew, hence the slight roll -->
    <node name="depth_camera" pkg="tf" type="static_transform_publisher" args="0.02 0 0.13 0 0 0.04 head camera_link 100" />

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
      <param name="resolution" value="0.1" />
      <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
      <param name="frame_id" type="string" value="odom" />
      <param name="filter_ground" value="false" />
      <!-- maximum range to integrate (speedup!) -->
      <param name="occupancy_max_z" value="0.6" />
      <param name="occupancy_min_z" value="0.05" />
      <param name="ground_filter/plane_distance=" value="0.0" />
      <param name="sensor_model/min" value="0.12" />
      <param name="sensor_model/max" value="0.97" />
      <param name="sensor_model/hit" value="0.7" />
      <param name="sensor_model/miss" value="0.4" />
      <param name="sensor_model/max_range" value="7" />
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap from="/map" to="/projected_map" />
      <rosparam file="$(find qbo_rgbd_slam)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find qbo_rgbd_slam)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find qbo_rgbd_slam)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find qbo_rgbd_slam)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find qbo_rgbd_slam)/config/base_local_planner_params.yaml" command="load" />
    </node>
  </group>
</launch>
