<launch>
  <arg name="bag" default="/media/Edog/Rosbag/bigloop.bag"/>
  <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag) --clock" />

 


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qbo_rgbd_slam)/launch/graph_slam.rviz" />
  


  <!-- Start the mapping nodes -->
  <include file="$(find qbo_rgbd_slam)/launch/include/mapping.launch"/>



  <node name="correction_pub" pkg="qbo_rgbd_slam" type="qbo_corrected_pose_publisher" />


</launch>
