<launch>
  <node name="link" pkg="tf" type="static_transform_publisher" args="0.06 0 0.02 0 0 0 base_footprint base_link 100" />

  <!-- Our camera is slightly on the skew, hence the slight roll -->
  <node name="depth_camera" pkg="tf" type="static_transform_publisher" args="0.02 0 0.13 0 0 0.08 head camera_link 100" />
</launch>
