<launch>
  <!--
    Define an argument specifying the address of the Q.bo. This can be
    overridden on the roslaunch command line via qbo_address:=somename. 
    -->
  <arg name="qbo_address" default="sigproc-robot1" />
  <arg name="qbo_user" default="qbo" />
  <arg name="stereo" default="false" />
  <arg name="mono_camera_side" default="left" />
  <arg name="mono_camera_device" default="/dev/video0" />
  <arg name="rviz" default="false" />
  <arg name="joypad" default="true" />
  
  <arg name="extra_include" default="null" />

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d /home/seneda/.rviz/Ratslam.rviz"/>
  </group>



    <!-- THIS IS THE RATSLAM STUFF-->

  <!-- remap from="/stereo/left/image_mono/compressed" to="/test/camera/image/compressed"/ -->
  <node name="drop" pkg="topic_tools" type="drop" args="/stereo/left/image_mono/compressed 2 3  /test/camera/image/compressed"/>
  <remap from="/odom" to="/test/odom" />
  

  <node name="RatSLAMLocalViewCells" pkg="ratslam_ros" type="ratslam_lv" args="$(find ratslam_ros)/config/config_test.txt _image_transport:=compressed" cwd="node" required="true" />
  <node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(find ratslam_ros)/config/config_test.txt _image_transport:=compressed" cwd="node" required="true" />
  <node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(find ratslam_ros)/config/config_test.txt _image_transport:=compressed" cwd="node" required="true" />
  <!-- node name="RatSLAMVisualOdometry" pkg="ratslam_ros" type="ratslam_vo" args="$(find ratslam_ros)/config/config_test.txt _image_transport:=compressed" cwd="node" required="true" /-->
  
  <!--node pkg="rqt_plot" type="rqt_plot" name="plot_vt_em" args="/test/LocalView/Template/current_id,/test/PoseCell/TopologicalAction/dest_id" /-->

  <!-- node pkg="rosbag" type="record" name="record" args="/test/ExperienceMap/Map /test/ExperienceMap/RobotPose /test/LocalView/Template /test/PoseCell/TopologicalAction -O ratslam_out.bag" /-->

  <!-- node pkg="rosbag" type="record" name="recordbag" args="/test/camera/image/compressed /test/ExperienceMap/Map /test/ExperienceMap/RobotPose /test/LocalView/Template /test/PoseCell/Topol/test/ExperienceMap/Map /test/ExperienceMap/RobotPose /test/LocalView/Template /test/PoseCell/TopologicalActionogicalAction -O RatslamRecord.bag" /-->

  <!--node pkg="teleop_twist_keyboard" name="Keyboard_Control" type="teleop_twist_keyboard.py" launch-prefix="terminator -e"/-->



<!-- END OF THE RATSLAM STUFF-->

  <group>
    <!--
      Putting the machine *within* the group and setting it as a default means
      nodes within this group will be launched on the Q.bo. Notice that we 
      hack the ROS_HOSTNAME variable in the command line for the env-loader. 
      This is more than a little mucky.
      -->
    <machine name="qbo" address="$(arg qbo_address)" user="$(arg qbo_user)" default="true"
      env-loader="ROS_HOSTNAME=$(arg qbo_address) ~/cued-masters/devel/env.sh" />

    <!-- Bring up qbo with frames for cameras and sensors available. -->
    <include file="$(find qbo_sigproc_launch)/launch/include/bringup_with_sensors.launch" />

    <!-- Add in head joint odometry -->
    <node name="joint_odometry" pkg="qbo_joint_odom" type="qbo_joint_odom.py" />

  	<group if="$(arg stereo)">
  	<include file="$(find qbo_sigproc_launch)/launch/include/stereo_cameras.launch" />
  	</group>
  	<group unless="$(arg stereo)">
  	<include file="$(find qbo_sigproc_launch)/launch/include/mono_camera.launch">
  	  <arg name="mono_camera_side" value="$(arg mono_camera_side)" />
  	  <arg name="mono_camera_device" default="$(arg mono_camera_device)" />
  	</include>
  	</group>

    <group if="$(arg joypad)">
       <include file="$(find qbo_joypad)/launch/joypad.launch"/>
    </group>

    <include file="$(find qbo_sigproc_launch)/launch/include/$(arg extra_include).launch" />
  </group>
</launch>
