<launch>
  <!--
    Define an argument specifying the address of the Q.bo. This can be
    overridden on the roslaunch command line via qbo_address:=somename. 
    -->
  <arg name="qbo_address" default="binky" />
  <arg name="qbo_user" default="qbo" />

  <!-- Launch a listener on the local machine. -->
  <node name="listener" pkg="rospy_tutorials" type="listener.py" />

  <group>
    <!--
      Putting the machine *within* the group and setting it as a default means
      nodes within this group will be launched on the Q.bo. Notice that we 
      hack the ROS_HOSTNAME variable in the command line for the env-loader. 
      This is more than a little mucky.
      -->
    <machine name="qbo" address="$(arg qbo_address)" user="$(arg qbo_user)" default="true"
      env-loader="ROS_HOSTNAME=$(arg qbo_address) ~/cued-masters/devel/env.sh" />

    <node name="talker" pkg="rospy_tutorials" type="talker.py" />
  </group>
</launch>
<!--
  vim:sw=2:sts=2:et:filetype=xml
  -->
