<!-- Launches a keyframe-based 3D mapper-->

<launch>
    <!--Number of desired keypoints to detect in each image for RANSAC processing -->
    <arg name="n_keypoints" default="200"/>
    <!--Maximum iterations for pairwise RANSAC test-->
    <arg name="max_ransac_iterations" default="2000"/>
    <!--How many candidate keyframes will be tested against the query keyframe using a pairwise RANSAC test-->
    <arg name="n_ransac_candidates " default="15"/>
    <!--How many nearest neighbors are requested per keypoint from the kd-tree of all keypoints-->
    <arg name="k_nearest_neighbors" default="15"/>
    <!--How many inliers are required to pass the RANSAC test-->
    <arg name="min_ransac_inliers" default="60"/><!-- Used to be 30 -->
    <!--Maximum distance (in SURF descriptor space) between two features to be considered a correspondence candidate-->
    <arg name="max_corresp_dist_desc" default="1.0"/>
    <!--Maximum distance (in Euclidean metric space) between two features to be considered a correspondence candidate.-->
    <arg name="max_corresp_dist_eucl" default="0.03"/> <!-- Used to be 0.03 -->
    <!--If true, positive RANSAC results will be saved to file as images with keypoint correspondences-->
    <arg name="save_ransac_results" default="false"/>
    <!--The path where to save images if save_ransac_results is true-->
    <arg name="ransac_results_path" default="$HOME"/>


  #### KEYFRAME MAPPING ###################################

  <node pkg="ccny_rgbd" type="keyframe_mapper_node" name="keyframe_mapper_node" 
    output="screen">
    
    <param name="verbose" value="true"/>
    <param name="online_graph_opt" value="true"/>
    <param name="graph/min_temporal_distance_for_RANSAC" value="10"/>
    <param name="graph/n_candidates" value="3"/>
    <param name="kf_dist_eps"  value="0.25"/> <!-- 25 cm (used to be 25) -->
    <param name="kf_angle_eps" value="0.35"/> <!-- 20 deg (used to be  20-->
    <param name="pcd_map_res" value="0.1"/> <!-- used to be 0.01 -->
    <param name="max_range" value="7"/> <!-- used to be 7 -->
    <param name="max_stdev" value="0.05"/>
    <param name="max_map_z" value="2.0" />
    <param name="max_ang_vel" value="0.2" />
    <remap from="rgbd/rgb" to="/camera/rgb/image_rect_color" />
    <remap from="rgbd/depth" to="/camera/depth_registered/hw_registered/image_rect_raw" />
    <remap from="rgbd/info" to="/camera/depth/camera_info" />
  </node>

</launch>


<!-- further NOTE on depth topics:

"/camera/depth_registered/image_rect_raw" should be in 16UC1
"/camera/depth_registered/image_rect" (in 32FC1) is also supported. 

-->
