<launch>

  <param name="robot_description" textfile="$(find qbo_laser_slam)/urdf/qbo.urdf"/>

  <include file="$(find qbo_sigproc_launch)/launch/include/bringup_with_sensors.launch" />
  <node name="joint_odometry" pkg="qbo_joint_odom" type="qbo_joint_odom.py" />
  <node name="notilt" pkg="tf" type="static_transform_publisher" args="0 0 0.4 0 0 0 base_link camera_depth_frame_notilt 100" />

  <arg name="kinect_camera_name" default="camera" />
  <param name="/$(arg kinect_camera_name)/driver/data_skip" value="5" /> 
  <param name="/$(arg kinect_camera_name)/driver/image_mode" value="9" /> 
  <param name="/$(arg kinect_camera_name)/driver/depth_mode" value="9" /> 
  
  <include file="$(find qbo_sigproc_launch)/launch/include/openni.launch"/>

  <group>
     <node name="depthimagetolaserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
        <remap from="image" to="/camera/depth/image_raw"/>
        <param name="output_frame_id" type="str" value="camera_depth_frame_notilt"/>
        <!-- <param name="range_max" type="double" value="8.0"/> -->
       <!-- <param name="scan_time" type="double" value="0.1"/> -->
        <param name="scan_height" type="int" value="1"/> 
     </node>
  </group>

  <node name="laser_reducer" pkg="qbo_laser_slam" type="laser_reducer.py">
    <param name="reduction" value="5"/>
  </node>

  <!-- Add a voxel filter for the point cloud
  <node name="voxel_filter" pkg="qbo_pcl" type="qbo_pcl_decimator">
    <param name="leaf_size" value="0.05" />
    <param name="input_topic" value="/camera/depth_registered/points" />
    <param name="output_topic" value="/camera/depth_registered/points_filtered" />
  </node>-->

    <include file="$(find qbo_joypad)/launch/joypad.launch"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find qbo_laser_slam)/maps/map.yaml" />

    <group>
       <node name="amcl" pkg="amcl" type="amcl">
         <rosparam file="$(find qbo_laser_slam)/config/amcl_params.yaml" command="load" />
       </node>
    </group>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
       <rosparam file="$(find qbo_laser_slam)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
       <rosparam file="$(find qbo_laser_slam)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
       <rosparam file="$(find qbo_laser_slam)/config/local_costmap_params.yaml" command="load" />
       <rosparam file="$(find qbo_laser_slam)/config/global_costmap_params.yaml" command="load" />
       <rosparam file="$(find qbo_laser_slam)/config/base_local_planner_params.yaml" command="load" />
       <param name="controller_frequency" value="5" />
    </node>

</launch>

