<launch>

	 <arg name="bag_dir_old" default="/home/sam/cued-masters/bagfiles/" />
	 <arg name="bag_dir" default="/home/sam/cued-masters/src/qbo_sigproc/human_detection/bagfiles/" />
	 <arg name="bag_file" default="raws.bag" />
 	 <arg name="bag_path" default= "$(arg bag_dir)$(arg bag_file)" />

      <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="load_driver" value="false"/>
      </include>

	<node pkg="rosbag" type="play" name="rosbag" output="screen" args="-l $(arg bag_path) -r 0.1"/>
#add '-r 0.1' to the args field to slow down the data stream by 10
	<node pkg="human_detection" type = "human_detection_2" name="human_detection_2"/>
	<node pkg="image_view" type = "image_view" name="image_view" args="image:=/human_detection/candidates"/>

</launch>
