<launch>

	 <arg name="bag_dir" default="/home/sam/cued-masters/bagfiles/" />
	 <arg name="bag_file" default="raws.bag" />
 	 <arg name="bag_path" default= "$(arg bag_dir)$(arg bag_file)" />
	 

      <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="load_driver" value="false"/>
      </include>

	<node pkg="rosbag" type="play" name="rosbag" output="screen" args=" --clock $(arg bag_path)"/>
	<node pkg="human_detection" type = "save_metric_frames" name="save_metric_frames">
		<param name="dir" value="$(arg bag_file)" />
		#cant param only works if directory exists!
	</node>

</launch>
